<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
      <h1> Say Hello to: {{name}}</h1>
      <img src={{img_url}}>
      <p>Email them at: <a href="mailto:{{email}}">{{email}}</a></p>
      <p>Their website is: <a href="http://{{url}}">{{url}}</a></p>
      <hr>
      <a href="/">Home</a>
  </body>
</html>